.education{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(500px, 1fr);
    margin: 80px;
    align-items: center;
    justify-items: center;
    gap: 105px;
}
.jakor {
    margin: 100px auto 100px auto;
    text-align: center;
}

.jakor img {
    height: 150px;
    width: 150px;
}